#garden-nav {
    position: absolute;
    top: 0;
    right: 0px;

}


#garden-nav .user {
    display: inline-block;
    float: left;
    color: #BFBFBF;
    border-left: 1px solid #404040;
    padding: 0 10px;
}

#garden-nav .user:hover {
    background-color: #2B2B2B;
    color: white;
}


#garden-nav .user img {
    display: none;
}

#garden-nav .user.show {
    background-color: white;
}


#garden-nav .name {
    padding: 7px 0 0 0;
    display: inline-block;
}




#garden-nav .home-icon {
    padding: 0 10px;
    background-image: url(img/dashboard_grey.png);
    background-position: 10px 10px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 13px;
    height: 16px;
    border-left: 1px solid #404040;
    float: right;
}

#garden-nav .home-icon:hover {
    background-image: url(img/dashboard.png);
    background-color: #2B2B2B;
}

#garden-nav .caret {
    margin-top: 8px;
    margin-left: 2px;
    display: inline-block;
    width: 0;
    height: 0;
    text-indent: -99999px;
    vertical-align: top;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid black;
    opacity: 0.3;
    filter: alpha(opacity=30);
    content: "↓2193";
    font-weight: bolder;

}

#garden-profile {
    position: absolute;
    top: 34;
    right: 0px;
    display: none;
    z-index: 999;
    padding: 10px 20px;
    border-left: 1px solid #404040;
    border-right: 1px solid #404040;
    border-bottom: 1px solid #404040;
    background-color: white;
    margin-right: 10px;
    -moz-box-shadow: -1px 1px 1px rgba(0,0,0,.2);
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.2);
    box-shadow: 0 2px 4px rgba(0,0,0,.2);
}

#garden-profile img {
    float : left;
}

#garden-profile .info {
    float: right;
    margin-left: 15px;
}

