<div id="{{_id}}" data-id="{{_id}}" class="agenda-listing">

    <h2>{{name}}</h2>
    <table class="table striped-table">
      <thead>
        <tr>
          <th>Type</th>
          <th>Colour</th>
          <th>Text</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
    {{#each items}}
        {{{include "events-agenda-row.html"}}}
    {{/each}}
      </tbody>
    </table>

    <div class="row">
        <div class="span3">
            <div class="form well topicAutoComplete">
                <label>Add Topic</label>
                <input type="text" name="tag" placeholder="Topic search" class="span2"/>
            </div>
        </div>
        <div class="span3">
            <div class="form well tagAutoComplete">
                <label>Add Tag</label>
                <input type="text" name="tag" placeholder="Tag search" class="span2"/>
            </div>
        </div>
        <div class="span3">
            <div class="form well personAutoComplete" >
                <label>Add Person</label>
                <input type="text" name="name" placeholder="Person search" class="span2"/>
            </div>
        </div>

    </div>


</div>