


<ul class="breadcrumb">
  <li>
    <a href="#/events">Events</a> <span class="divider">/</span>
  </li>
  <li class="active">
    <a href="#/events/new">New</a>
  </li>
</ul>


<form class="well">
    <legend>Create Event</legend>

    <label>Name</label>
    <input type="text" name="name" />

    <label>Event Date</label>
    <input class="date" type="text" name="date" />


    <fieldset class="form-actions">
        <button class="btn btn-primary">Create</button>
        <button class="btn cancel">Cancel</button>
    </fieldset>

</form>

