{{#if userCtx.name}}
<div>
    <a class="btn info" href="./#/people/new">New Person</a>
</div>
{{/if}}


<table class="table striped-table">
  <thead>
    <tr>
      <th>First</th>
      <th>Last</th>
      <th>City</th>
      <th>Org</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
{{#each rows}}
    <tr>
      <td>{{doc.first_name}}</td>
      <td>{{doc.last_name}}</td>
      <td>{{doc.city}}</td>
      <td>{{doc.org}}</td>
    </tr>
{{/each}}
  </tbody>
</table>



