
<div id="{{session.id}}" class="row header-controls play">
    <div class="span1">
        <div class="control">
            <button class="btn active" data-toggle="button">&#9658;</button>
        </div>
        <div class="player"></div>
    </div>

    <div class="jp-progress-bar">
        <div class="jp-seek-bar">
            <div class="jp-play-bar"><span></span></div>
        </div>
    </div>
</div>

<div class="row play">
    <div class="offset1 span11 playlist">

    </div>
</div>




