

<ul class="breadcrumb">
  <li>
    <a href="#/events">Events</a> <span class="divider">/</span>
  </li>
  <li>
    <a href="#/events/{{event._id}}">{{event.name}}</a> <span class="divider">/</span>
  </li>
  <li class="active">
    <a href="#/events/{{event._id}}/session/{{session.doc._id}}">{{session.doc.created}}</a>
  </li>
</ul>



<h2>Session</h2>


<div class="row">

    <div class="span2">
        <div class="recorder"></div>
    </div>

    <div class="span7">



        <div class="topics disabled">
            <div class="topic"><i class="icon tag red"></i>Water</div>
            <div class="topic"><i class="icon tag green"></i>Land Use</div>
            <div class="topic"><i class="icon tag blue"></i>Soil</div>
            <div class="topic"><i class="icon tag yellow"></i>Hunting & Fishing</div>
        </div>

        <form class="tag-text well" style="display: none;">
            <label class="time">8:29pm [00:01:39]</label>
            <label><i class="icon tag yellow"></i> #3</label>
            
            <textarea class="input-xlarge" name="textarea" id="textarea" rows="3"></textarea>

            <button class="btn primary">Save</button>
            <a class="btn help" href="#" title="Mark as important"><i class="icon flag" ></i></a>
            
        </form>

        <div class="transcript" >

        </div>


    </div>
    <div class="span3">
        <h4>Who is speaking?</h4>
        <ul class="participants disabled">
            {{#each session.doc.participants_full}}
               <li class="active disabled" data-topicId="{{doc.tag}}">{{doc.first_name}} {{doc.last_name}}</li>
            {{/each}}

        </ul>
    </div>




</div>




