

<ul class="breadcrumb">
  <li>
    <a href="#/events">Events</a> <span class="divider">/</span>
  </li>
  <li>
    <a href="#/events/{{_id}}">{{name}}</a> <span class="divider">/</span>
  </li>
  <li class="active">
    <a href="#/events/id/session/new">New Session</a>
  </li>
</ul>



    <h2>New Session</h2>

    <h4>Select Attendees</h4>
    <table class="table table-bordered table-condensed">
        <thead>
            <tr>
                <th></th><th>Last</th><th>First</th><th>Community</th><th>Org</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="checkbox" name="dsadsadsadsa1" /></td>
                <td>Ramage</td>
                <td>Ryan</td>
                <td>Edmonton</td>
                <td>Eckoit</td>
            </tr>
        </tbody>
    </table>

<form>
    <fieldset class="form-actions">
        <button class="btn primary">Create</button>
        <button class="btn cancel">Cancel</button>
    </fieldset>

</form>
